[2020-01-09 22:37] mtricht opened #6 "Uniques go to the wrong wiki page"
They should go to the unique page instead of the base item's page

[2020-01-09 22:46] #6 closed

[2020-01-10 00:22] thorsten-passfeld opened #7 "Replace lunaris/src/main/java/dev/tricht/lunaris/WindowsAPI.java with a cross-platform-compatible solution"
Although that code is pretty platform-specifically written, I think this file can more or less easily be adapted for Linux and MacOS, as well as Windows too. I'll link to the source I found just now:

https://stackoverflow.com/questions/5226212/how-to-open-the-default-webbrowser-using-java

I really like your solution so far. But I'm playing on Linux, so I would love to be able to natively use thi

[2020-01-10 00:36] mtricht commented on #7
Hey, nice to hear from someone playing on Linux.

Linux support will be my next task this weekend. I usually don't game on Linux but it is my preferable platform.

Things that will need to be changed:

- WindowsAPI
- System tray AWT (Perhaps https://github.com/dorkbox/SystemTray)
- Use something else than `APPDATA` for storing configuration and cached data
- Create a launch script (`lunaris.sh`)

[2020-01-10 00:54] thorsten-passfeld commented on #7
Hey! Awesome to hear, man. I was already able to open and build your program in Netbeans using Maven, after switching to Openjdk-13. I was on Openjdk-8 before due to another project and of course couldn't compile everything. :D
So yeah, I don't think we'd need to change that much. I've quickly went over your code and it was already mostly cross-platform-compatible. Another benefit of coding in Jav

[2020-01-10 03:25] BrianCatan opened #8 "The currency stack pricer fails to identify chaos value on stack sizes greater than 999."
Steps taken to identify issue:

1. Viewing a currency tab, hover over a common currency type that you have greater than 1000 items of and press alt+a. The price window fails to display.
2. Remove currency until stack size is <= 999 and press alt+a. The price window appears as expected.

I haven't confirmed with anyone else that this is happening, but it seems suspicious that every currency I have

[2020-01-10 04:03] ABortoc commented on #8
Can confirm, doesn't work for me on big stacks either.

[2020-01-10 06:28] #8 closed

[2020-01-10 06:53] mtricht commented on #8
@BrianCatan @ABortoc Thanks for reporting, this has been fixed in v0.3.3 with the commit linked above.

[2020-01-10 07:37] Yuyu opened #9 "Customize mod warnings"
From what I see, *dangerous* mods are hardcoded inside `MapInfoListener`.
There should be a way to customize them, as different mods are considered dangerous for different builds (I can't run no mana regen maps, for example).

[2020-01-10 12:21] nmussy opened #10 "Incorrect poe.ninja weapon prices"
![image](https://user-images.githubusercontent.com/2505696/72152722-1d77bf80-33ac-11ea-82a5-859ae001e592.png)

My guess is that the application fetches [all three results from poe.ninja](https://poe.ninja/challenge/unique-weapons?name=tremor), and selects the first one without checking the number of links.

[2020-01-10 12:22] kasiopec opened #11 "Poe ninja categories"
Would be nice to have some keybind that opens popup window similar to one you have now which will have poeninja categories(currency, fragmetns, beasts etc.), clicking one will redirect directly to that page.

[2020-01-10 12:55] Kinsl opened #12 "Map's layout rating"
Would be nice to see map's layout rating when u press alt+a
just like trade macro does with ctrl+c
https://pathofexile.gamepedia.com/Map#Maps_by_level
U can find them there

[2020-01-10 13:52] nevpo opened #13 "Hotkey customization"
Is there any way to change the default "alt+XYZ" hotkeys to some other combo (like "ctrl+XYZ" or something else)?
Thanks in advance.

[2020-01-10 15:03] crusha015 opened #14 "Alt+Q Item lookup uses incorrect type of mods"
When I use Alt+Q to pull up an item on pathofexile.com/trade, it often has incorrect mods attached so I get no results (even true with uniques).

Some examples of offending mods where the issue is quite prevalent is for any "local" mods.

The tool is entering the Explicit mod "Adds # to # Physical Damage". If I manually change this to use "Adds # to # Physical Damage (Local)" of the Pseudo "Adds #

[2020-01-10 15:06] crusha015 opened #15 "Something is turning off my NumLock"
I haven't yet identified when exactly this is happening, but since I've started using this tool my NumLock is regularly being toggled off. I'll update the issue if I can get any better details, but I wanted to see if anyone else is experiencing this.

[2020-01-10 15:14] crusha015 opened #16 "Map scroll stuck bug"
I'm not sure if you already saw this one of the Reddit thread, but this post has a link to a clip of the issue in action: https://www.reddit.com/r/pathofexile/comments/emh24g/oops_we_are_also_working_on_a_trademacro_clone/fdpfcjl?utm_source=share&utm_medium=web2x

[2020-01-10 15:18] BrockRiefenstahl opened #17 "Keybind Settings"
Hey there, will you add some functionality to change keybinds? I did not saw any config file where I could change them. For Example I need F2 for Hideout not F5 etc...

I just found out it does not work at all.

I am ingame now (Used the BAT file before. I see the icon in the tray (Options are POESSID / League / Exit.

But Ingame not even one of the Keybinds seem to work when hovered over items.

[2020-01-10 18:20] alexaroth opened #18 "No results for some uniques"
![image](https://user-images.githubusercontent.com/1833388/72176213-d7375600-33d5-11ea-981e-728dd07efa11.png)

There are dozens of Ezomyte Peak Iron Hats on pathofexile trade but it can't find them for some reason

[2020-01-10 18:24] #10 closed

[2020-01-10 18:24] mtricht commented on #10
@nmussy thanks for reporting!  Fixed in commit above, will be release somewhere this weekend.

[2020-01-10 18:29] alexaroth commented on #18
Ignore that, I realised its applying the attributes in the filter when searching, meaning I got a very rare values combination for the mods.

[2020-01-10 18:29] #18 closed

[2020-01-10 19:14] #16 closed

[2020-01-10 19:15] mtricht commented on #16
@crusha015 thanks for linking, I have found the issue and fixed it in the commit above. Will be release soon!

[2020-01-10 19:34] mtricht opened #19 "Add kick hotkey"
Kick yourself from the current party. Default keybind should be F4.

This will require the character name to be configured as the command is `/kick <playername>`

[2020-01-10 20:16] JusKillmeQik opened #20 "Support poeprices.info"
very helpful for rare item pricing and a simple API to call

[2020-01-10 20:36] Kinsl opened #21 "F5 /hideout doesn't work with non-english keyboard layout"
https://i.imgur.com/vpPlrPj.png
That's what I get when I press F5 while my keyboard layout is russian

[2020-01-10 21:22] EThaNol2005 commented on #21
can confirm: same with qwertz german layout.

[2020-01-10 21:28] mtricht commented on #21
It seems that the library we use ([jnativehook](https://github.com/kwhat/jnativehook)) only supports QWERTY keyboards...will have to look for another solution to support different layouts.

[2020-01-10 21:34] Kinsl commented on #21
It still writes /hideout but it's like I'm writing it myself with wrong layout

[2020-01-10 21:46] berserkingyadis commented on #21
can confirm it not working also, on german keyboard

[2020-01-10 21:56] mtricht commented on #18
@alexaroth until we're smarter about how we filter items, `alt + q` is your best friend!

[2020-01-10 21:58] Bannedmyself opened #22 "Add fast trade hotkey"
Just like lutbot's a sequence of commands that would be
^{enter}{home}{delete}/invite {enter}

Ctrl+enter, picks up @player
home goes to char[0]
delete, deletes the @ and then writes "/invite " with a blank space

Thanks.

[2020-01-10 23:23] #21 closed

[2020-01-10 23:24] mtricht commented on #21
@Kinsl @EThaNol2005 I have found a solution. I will be releasing an update tomorrow, after that it should work for all keyboard layouts! Verified by @berserkingyadis , thanks for testing again!

[2020-01-10 23:52] ykz89 opened #23 "Hotkeys do not work on equipped unusable items"
#### Hotkeys do not work on equipped items which are unusable

#### Steps to reproduce the issue
(Won't happen that often)
- Log on to character that has been transferred to standard/hardcore after the end of a league
or
- Level up gem to higher stat requirement than the character has

And use hotkeys on red equipped items.

#### What's the expected result?
- Hotkeys are functional

#### What's th

[2020-01-11 00:00] ykz89 opened #24 "Alt + Q on some base items use too few search filters"
#### Pressing alt + Q on some white items shows a completely different item on pathofexile.com/trade.

#### Steps to reproduce the issue
alt + Q on some white items.

#### What's the expected result?
Search for correct base type, probably due to only item level being taken into account.

#### What's the actual result?
Search for different items than expected

#### Additional details / screenshot
[

[2020-01-11 00:02] berserkingyadis opened #25 "Calculate Weapon DPS"
If I remember correctly, poe trademacro had functionality to display the DPS numbers of weapons:

- physical dps
- ele/chaos dps
- total dps (phys + ele/chaos)

formula should be something like this: `(Minimum Damage + Maximum Damage) / 2 * Attacks per Second`

Those numbers could be added to the weapon tooltip or another display place of choice

[2020-01-11 02:36] gugg commented on #14
To pile on this, the sockets and link information are missing from the price estimator

[2020-01-11 13:03] fabriciomind opened #26 "Allow setting browser, instead of system default."

[2020-01-11 13:04] mtricht commented on #26
@fabriciomind Why not change your system default?

[2020-01-11 13:09] fabriciomind commented on #26
Some people, like myself, use the computer for work and gaming. Is a must have separate browser for each function.

[2020-01-11 13:26] mtricht commented on #17
@BrockRiefenstahl You're most likely running path of exile as administrator. If that's true, you also need to run the `.bat` file as administrator.

As for the customizable keybinds, that's currently not possible.

[2020-01-11 13:26] mtricht commented on #15
@crusha015 I don't know man, that sounds really weird. We don't do anything with numlock anywhere in the code, are you sure it's not something else?

[2020-01-11 13:27] mtricht commented on #13
Currently not, but definitely something I will work on. Will use this issue to keep track of that.

[2020-01-11 13:27] mtricht commented on #12
Sadly the table you linked is not a Cargo table, so there's no way to query that data. On hold for now.

[2020-01-11 13:29] mtricht commented on #11
How about after pressing `alt+d` and using `alt+q` to go to the official trade website, we also introduce a key bind like `alt+w` which then goes to the correct poe.ninja page with the filter filled out? Or is that not what you're looking for?

[2020-01-11 13:29] mtricht commented on #9
This will be absolutely necessary. Keeping this issue to keep track of that!

[2020-01-11 13:37] #23 closed

[2020-01-11 13:37] mtricht commented on #23
@ykz89 thanks for reporting, fixed in commit linked above

[2020-01-11 18:41] crusha015 commented on #15
Thanks for looking into it. It looks like you're right and it must be something else causing this. I guess I just coincidentally started to notice it after I installed Lunaris.

I just tested playing this morning without Lunaris even open and eventually my NumLock was toggled off.

[2020-01-12 01:14] mtricht commented on #7
You can follow my progress here: https://github.com/mtricht/lunaris/commits/linux
The only things missing are:

- Get active X11 window to determine if Path of Exile is active. I hope someone has some suggestions on how to do this.
- The overlay does not seems to work when Path of Exile is running. Sadly no exceptions are thrown... When Path of Exile is closed the tooltip does work. So I'll have t

[2020-01-12 12:38] mtricht commented on #15
Closing this for now then, let me know if anything changes

[2020-01-12 12:38] #15 closed

[2020-01-12 14:46] coldcode69 opened #27 "Search for Vaal skill gems show results for normal version"
It doesn't seem to know about vaal gems or detect the vaal attribute properly. It just returns results as if you searched the normal version of the skill gem.

Also the poe.ninja price is based on the gem being 20% quality, regardless of the gems actual quality.

[2020-01-12 15:42] mtricht commented on #7
See https://github.com/mtricht/lunaris/pull/28

Is any of you willing to test it on your end?

[2020-01-12 23:13] mtricht opened #30 "Use github actions to deploy and release a new version"
Also see https://github.com/actions/setup-java

[2020-01-13 08:26] BrockRiefenstahl commented on #17
That is not correct, I tested both, and neither method worked.

[2020-01-13 17:18] Traf27 opened #31 "Talisman price check does not work"
Price checks for talismans does not work. There is no popup. I'm on Win 7 64bit. 64bit client version, if that's matters.

Wierd because I saw in sourcefiles that there is pattern matching for Talisman keyword, and for amulets popup and price check works.
I dont know if i can add anything else about bug.
Thanks!

[2020-01-13 18:41] zymox opened #32 "Can't use MercuryTrade with Lunaris running"
While Lunaris and MercuryTrade are both running, whenever I press something that does a chat command on the MercuryTrade overlay (which is basically everything), it doesn't  work. It looks like the chat box opens and then immediately closes again, without typing anything.

[2020-01-13 18:52] Traf27 opened #33 "Unique map search gives result for normal map base"
Unique maps are searched based on their non-unique map base. For example

"The Beachhead" is searched as "Harbinger" map
"Vaults of Atziri" as "Vaal pyramide" map

[2020-01-13 19:25] #33 closed

[2020-01-13 19:26] mtricht commented on #33
@Traf27 thanks for reporting, fixed in commit above and will be in an update soon

[2020-01-13 20:35] mkalte666 commented on #7
Fundamentally its working on my end. I have a three monitor setup, with poe in the middle and the offset is working fine.

https://i.imgur.com/bdldcV8.jpg

The window is a tad cut short to the right i suppose, but i can live with that. Better than tabbing out to the browser. With the patches in #28 the config branch also works for me quite well. In theory. I patched the config branch by hand befor

[2020-01-13 21:11] mtricht commented on #13
A config window is now in master, a screenshot: https://i.imgur.com/0jvE6dT.png
Will be released somewhere this week!

[2020-01-13 21:11] #13 closed

[2020-01-13 21:15] mtricht commented on #9
A config window is now in master with your requested mod, a screenshot:
https://i.imgur.com/zSw1lIn.png
Will be released somewhere this week!

[2020-01-13 21:15] #9 closed

[2020-01-14 19:21] #27 closed

[2020-01-14 19:22] mtricht commented on #27
@coldcode69 Thanks for reporting. I have added support for vaal gems which will be included in an update later this week.

As for the poe.ninja prices, poe.ninja does not have price information for all level/quality combinations. We try to match the closest possible quality/gem combination which is also displayed below the price: https://i.imgur.com/Ft6A7mk.png

[2020-01-14 21:15] #19 closed

[2020-01-14 21:15] mtricht commented on #19
Added in https://github.com/mtricht/lunaris/commit/6bace2d95076b8f7a46c22306c100d6e10b8a92c

[2020-01-14 21:16] mtricht commented on #32
@zymox Thanks for letting us know, the latest release does indeed not work with MercuryTrade. However, the master branch does work with Mercury! So this will be fixed in the next release coming either tomorrow or thursday.

[2020-01-14 21:16] #32 closed

[2020-01-14 21:34] #22 closed

[2020-01-14 21:34] mtricht commented on #22
@Bannedmyself thanks for the suggestions, added, will be in the release within 2 days!

[2020-01-14 21:52] mtricht commented on #7
@mkalte666 Thanks for testing! Could test out the master branch? We've added quite a few improvements.

@thorsten-passfeld would you also mind testing the master branch? We've revamped how we get the item text from in game, so alt+D should now also work for you.

[2020-01-14 22:22] thorsten-passfeld commented on #7
Okay, some good and some "bad" news:
- F5 works flawlessly now
- alt + D actually does exactly what it's supposed to do, but the tooltip does not appear in front of the windowed-fullscreen game
- alt + W reluctantly opens my browser after a few tries and then still resorts to Chromium, where Firefox is actually my main/default browser -> The "GLib-GIO-WARNING" warning appears in the console
- alt

[2020-01-14 22:23] thorsten-passfeld commented on #7
For the record, this is the log of that "session":

23:11:27.284 DEBUG dev.tricht.lunaris.Lunaris - Ready!
23:13:32.396 DEBUG dev.tricht.lunaris.listeners.ClipboardListenerStack - Registered clipboard listener for dev.tricht.lunaris.listeners.ItemPriceListener
23:13:32.406 DEBUG dev.tricht.lunaris.listeners.ClipboardListenerStack - Pressed ctrl+c
23:13:32.766 DEBUG dev.tricht.lunaris.listeners.Cli

[2020-01-14 22:43] mkalte666 commented on #7
I built  9d9fdf6ff9fbe66b13929ba2655d37e0c97d07bd for this.

`Alt-D` is still cut off to the right https://i.imgur.com/Qwlo4Df.jpg

`Alt-A` is working for me (at least with what i have around) https://i.imgur.com/c52v5UG.jpg

`Alt-W` works, but i also use the skill bound to W when using it. I'll probably just rebind it, but maybe a different default would help?

`Alt-Q `works as intended.

Pressin

[2020-01-15 02:34] Traf27 opened #36 "Idea - base crafting mods lookup on poedb.tw/us/"
If you'd consider such enhancement here is additional info.

Base url adress looks like that:

[code]

Im not sure why there is inconsistency between %20 and + separators, but they seems interchangable.

Armour bases like int,str would need to be transalted from Energy Shield and Armour mods on item.

If there is some mundane work which cant be automated i could prepare some list with mentioned in

[2020-01-15 12:43] pvaass commented on #36
Thanks for creating an issue!

Can you collaborate a bit? How would this work?
Would you need a seperate keybind for "mods info"?
It it enough to show all possible craftable mods on the base, or do we need to subtract the mods that can't be crafted on there because there's already some form of it as an affix on the item (this makes the feature considerably more difficult).

Thanks!

[2020-01-15 12:57] pvaass opened #37 "Configurable range of affix values (e.g. -20% in min field, +20% in max field) for /trade"

[2020-01-15 13:00] pvaass commented on #17
Configuration UI merged in https://github.com/mtricht/lunaris/pull/29  adds configurable keybinds, closing issue.

[2020-01-15 13:01] #17 closed

[2020-01-15 14:40] coldcode69 opened #38 "Nothing happens for "String Of Servitude" unique"
Price check/open in browser doesn't do anything for this item. I have 3 with different implicit mods and none of them work.

https://www.pathofexile.com/trade/search/Metamorph/0n530QUg

[2020-01-15 15:00] coldcode69 opened #39 "Configurable value to exclude stale listings from results"
Many items have the low end of results filled with sale offers that probably aren't genuine or at least are stale. I suggest a configurable setting to exclude listings older than X days, and have this apply to all searches.

[2020-01-15 18:22] mkalte666 commented on #7
Reply to last whisper works well.

When you use "kick yourself from party" without setting a character name, it will paste `null` instead of doing nothing or telling you that no character name was set.

[2020-01-16 08:36] livejamie commented on #12
That data is out-of-date

[2020-01-16 18:46] Traf27 commented on #36
iI guess just key-bind for poedb.tw/mod.php with custom query from base you click would suffice.
The main point is that on poedb is this nice dynamic form for crafting with fossils. Mods variety (few thousands) makes it to complicated to port those informations into app instead.

[2020-01-16 20:43] mtricht commented on #17
@BrockRiefenstahl would you mind trying out v0.4.0?

[2020-01-16 21:47] LunarBear opened #41 "Some custom hotkeys (especially CTRL + another key) don't work"
Hey,

Thank you for this great tool, the best PoETrade replacement among all the new ones imo.

I've been having one issue with custom hotkeys, I changed the default ones to CTRL + a letter (instead of ALT + a letter) and most of them don't work. CTRL+C works but CTRL+D, CTRL+E, CTRL+A... don't work. They either do nothing, or call the "item info" command (that I bound to CTRL+C). Odd.

I do not u

[2020-01-16 22:08] pvaass commented on #41
Hey! Thanks for the kinds words and the bug report!

My theory is that your bind of ctrl+c conflicts with the other bindings you set. Because the only way for us to get your item info is to actually press ctrl+c real fast, there's going to be an issue if you then actually bind ctrl+c to something:

Normal flow:
- Ctrl+D (e.g. search on /trade)
- App does ctrl+c real fast
- Parses the item and sear

[2020-01-16 22:43] LunarBear commented on #41
Okay, I tried different things to reproduce the bug, here's what I found:
- Whatever my hotkeys are (I set them back to the default ALT + something), when I press CTRL+C in game while hovering over an item, all the Lunaris hotkeys stop working
- Only way to get the hotkeys to work again is to relaunch the soft OR reassign any hotkey (even to the same one it was assigned to before) in Lunaris setti

[2020-01-17 00:51] mtricht commented on #41
@LunarBear We've just pushed an update (v0.4.1) which fixes Lunaris breaking after pressing CTRL + C. You still can't use CTRL + C as a key bind, we'll look into that later. Can you let us know if it's working as intended now?

[2020-01-17 00:54] pvaass commented on #38
Created a branch here https://github.com/mtricht/lunaris/compare/feat/implicits that should fix your issue. However now all item implicits also get included in the search which might not be something everyone would want. Have to think of a smart way to handle this before release.

[2020-01-17 16:50] LunarBear commented on #41
Thanks, works great now!

[2020-01-17 21:42] pvaass opened #42 "Breaks if you bind Ctrl+C"

[2020-01-17 21:42] pvaass commented on #41
@LunarBear Created a new issue for just the Ctrl+C bind: https://github.com/mtricht/lunaris/issues/42. Closing this one!

[2020-01-17 21:42] #41 closed

[2020-01-19 13:04] pvaass commented on #31
Fixed on master, will be solved in next release!

[2020-01-19 13:04] #31 closed

[2020-01-19 13:26] pvaass commented on #24
Fixed in https://github.com/mtricht/lunaris/commit/1fddb99f0bed793a2e569eb6d2ea35869d48c8be, will be available next release

[2020-01-19 13:26] #24 closed

[2020-01-19 23:22] #38 closed

[2020-01-19 23:22] pvaass commented on #37
https://github.com/mtricht/lunaris/pull/45

[2020-01-19 23:22] #37 closed

[2020-01-19 23:23] pvaass commented on #14
https://github.com/mtricht/lunaris/pull/45

[2020-01-19 23:23] #14 closed

[2020-01-20 09:36] berserkingyadis opened #46 "Preserve Clipboard after commands"
After doing a few commands the Windows (and Linux?) Clipboard will hold the latest item data and the Clipboard state at the Start of the Program will be lost.

In the rare case that the User of the program is holding something important in the Clipboard it should be put into the Clipboard again after each command.

Also this may interfere with the copy pasted texts from the Poe trade sites.

Dont

[2020-01-20 10:58] pvaass commented on #46
Hey Bers, thanks for creating an issue.

We're having some issues in general with the clipboard atm. (for instance, it logs everything you copy to your clipboard even without POE open).

Accessing the clipboard in Java is super sketchy, and randomly a lot of weird behaviour shows up. We can try to put the data back in the clipboard, but do note that this means that your (maybe sensitive) informati

[2020-01-21 08:58] kraken9911 opened #48 "ALT+Q opens up 5 identical tabs"
Not a huge deal as the item is at least searched for but kinda annoying to have a slower result due to 5 tabs pulling info simultaneously.

[2020-01-23 20:59] mtricht commented on #42
Fixed in 0.5.0!

[2020-01-23 20:59] #42 closed

[2020-01-23 21:00] mtricht commented on #48
This shouldn't be happening in the newest version, please let us know if you're still having this issue.

[2020-01-23 21:00] #48 closed

[2020-01-24 09:31] mtricht commented on #7
@mkalte666 thanks for testing!

@thorsten-passfeld would you mind testing again? And perhaps try windowed instead of windowed-fullscreen?

I also created a guide for linux here: https://github.com/mtricht/lunaris/blob/master/LINUX.md

[2020-01-24 17:19] thorsten-passfeld commented on #7
@mtricht
I've been testing the latest .jar for the past ~10 minutes and here are the results:
- Every shortcut seems to work most of the time
- One time, pressing F6 to invite the last whisperer resulted in my clipboard being pasted into the chat, the other times it worked perfectly fine
- Even though my default browser is definitely Firefox, Lunaris still opens up Chromium
- The overlay only work

[2020-01-25 03:43] BrockRiefenstahl opened #51 "Some Bugs/Missings"
I found the errors. Your Key re-mapping does not work. The tool does not recognise my CTRL button as other tools. Can you fix it so that "STRG" is also recognised?

Map Infos bugged. T14 Spider Forest writes "Forest Map" no items listed.

[2020-01-25 09:39] EthyriaTorviir opened #52 "PoE-ItemInfo"
This is the one thing missing to make lunaris the thing to use over trade macro. That small window when you ctrl+c and item. Summerized item info, Total res, life, attributes, etc.

 Could be used for your Alt+A. Would love to see this implemented. Great work otherwise!

[2020-01-25 11:47] mtricht opened #53 "Certain items (uniques?) not working"
This following uniques do not work. Alt+d says no results, alt+q does not work.

[code]

[code]

[2020-01-25 12:04] mtricht opened #54 "Add more map mod warnings"
Add a warning and option for:

- Monsters have #% chance to Avoid Elemental Ailments
- Monsters have a #% chance to avoid Poison, Blind, and Bleeding

Should be disabled by default.

[2020-01-25 12:13] berserkingyadis commented on #53
Possibly due to it being a "Rune Dagger" which isnt recognized as a weapon in the master branch. I have fixed this in my PR.

[2020-01-25 12:14] berserkingyadis commented on #52
Weapon DPS is added on ALT+A in https://github.com/mtricht/lunaris/pull/47
Armor summarized info could also be done on ALT+A.

[2020-01-25 17:18] Megumin opened #55 "Windows can't find javaw.exe"
Getting this error, don't know why. Have java installed already for games that may need such as Minecraft which works fine.

![yptLSVV](https://user-images.githubusercontent.com/40709124/73124737-6ec3a980-3f7d-11ea-951b-8c25030f8290.png)

[2020-01-25 17:30] mtricht commented on #55
You downloaded the wrong zip file. See the README. Here's a direct link: https://github.com/mtricht/lunaris/releases/download/v0.5.1/lunaris-0.5.1-win64.zip

[2020-01-25 17:30] #55 closed

[2020-01-25 20:12] flufylele opened #56 "Cannot open"
Opening .bat and the cmd instantly closes. Tried run as admin but same issue.

[2020-01-25 21:02] mtricht commented on #53
#47 indeed fixed this!

[2020-01-25 21:02] #53 closed

[2020-01-25 21:03] mtricht commented on #25
@berserkingyadis Thanks for the PR again! Is there anything you'd like to add to the weapon DPS or can we close this issue?

[2020-01-25 21:04] mtricht commented on #56
@flufylele Open lunaris.bat with notepad and replace everything with:
`image\bin\java.exe -jar update4j.jar --remote https://raw.githubusercontent.com/mtricht/lunaris/master/autoupdater.xml --singleInstance`
Open lunaris.bat again, what do you see in the console?

[2020-01-26 03:50] Purunts commented on #56
Tried this, it updated, but the CMD isn't closing or minimizing onto the taskbar. If i close it lunaris also exits.

[2020-01-26 10:20] czayo commented on #54
One suggestion from me if i can:
40% reduced block chance

And maybe we could get game minimazing button on F10 or smth?

[2020-01-26 10:45] berserkingyadis commented on #25
I think we can close this until there are more requirements.

[2020-01-26 10:48] berserkingyadis commented on #25
One thing to do would be adding a DPS Preview to the Readme.md since there is not visibility for this feature yet. I sadly missed the 0.5 release so people wont know its in lunaris unless they see it somewhere.

[2020-01-26 11:33] berserkingyadis commented on #25
added PR for it in https://github.com/mtricht/lunaris/pull/61

Link broken until its in main repo since link points to it

[2020-01-26 13:17] flufylele commented on #56
@mtricht Same thing. CMD starts, after 1 split second it makes the window verry small for the cmd then closes automatically.

[2020-01-26 16:28] Elimitless opened #62 "Hotkeys sometimes do nothing on one item but work on another"
sometimes on one item alt+d or alt+q work but not on another item. This consistently happens at random.

[2020-01-26 19:26] AtillaSchulz opened #63 "Item search, wrong item mods"
Just tested the tool a bit and was testing it on my diamond Flask

this was the tools result:
https://www.pathofexile.com/trade/search/Metamorph/X3nObLeuP

This is what it should have been:
https://www.pathofexile.com/trade/search/Metamorph/RJO4bRBi7

The mod chosen is not the right one and since there are 2 with the same description an easy fix would be to create search groups.

Basically if a sp

[2020-01-26 19:43] AtillaSchulz opened #64 "Weird bug with price checking"
Sometimes the tool doesnt recognize new hovered items for anotehr alt+q search.

Steps to reproduce:
alt+d (we need to get a result list first)
alt+q
alt+tab back into game, do not use left click to really focus the poe window
alt+q on another item

The last search will result in a search for the first item we did alt+q on.

Seems like when I alt+tab back into poe and click somewhere and then go f

[2020-01-27 05:30] mordechaim commented on #56
Subscribing to this thread to improve [update4j](https://github.com/update4j/update4j) in case it's the cause of this issue.

[2020-01-27 17:08] mordechaim commented on #56
It could be that it was downloading the new files but since it doesn't show progress you assumed it as stuck. Are you on a slow connection?

[2020-01-27 19:45] swaw3452 opened #65 "Windows cannot find javaw.exe"
Whenever I try to start the macro, the cmd opens, it says it can't find the java file, and it exits. I checked the Environment Variables and the path is correct, so I'm not sure what to do from here.

[2020-01-27 19:50] mtricht commented on #65
@swaw3452 you probably downloaded the wrong file, can you try with this one: https://github.com/mtricht/lunaris/releases/download/v0.5.1/lunaris-0.5.1-win64.zip

[2020-01-27 20:10] swaw3452 commented on #65
You got it, my bad. Thank you!

[2020-01-27 20:10] #65 closed

[2020-01-30 12:03] BarnOwlet opened #67 "Lunaris doesn't work?"
To keep it short, Lunaris worked for a quite a while flawlessly and then yesterday I had an incident with it: I couldn't get it to work! It was open, but no features worked at all. It ended up fixing itself after about 5 minutes, I've no idea how.
But today it happened again when I got online, been trying to get it to work again for about 1 hour now. Tried reinstalling multiple times, also changed

[2020-01-30 21:40] BarnOwlet commented on #67
Still hasn't been fixed, unfortunately. Lunaris doesn't work for a friend of mine either, so it can't be only us experiencing this issue..

[2020-01-31 09:35] mtricht commented on #67
That's unfortunate and I haven't heard or seen such behavior myself.
What OS are you on? Keyboard language? Playing windowed/windowed fullscreen?

If you're willing to, could you open `lunaris.bat` in notepad and edit the contents to:

[code]

Do you see any error/exceptions when this happens?

[2020-01-31 18:32] BarnOwlet commented on #67
Hey, thanks for answering.
We're both running Windows 7, with keyboard language on English, playing windowed fullscreen. I did try other keybinds, that didn't do the trick either.

I edited the thing you sent but the `log.txt` file is empty, 0 kb. I'm assuming that's because I reinstalled it and thus why there are no logs?
It's a real shame it randomly became unusable, I love the tool. If there's

[2020-02-01 11:21] mtricht commented on #67
My bad, this should populate the logs.txt file with logs: `image\bin\java.exe  -Dorg.slf4j.simpleLogger.logFile=log.txt  -jar update4j.jar --remote https://raw.githubusercontent.com/mtricht/lunaris/master/autoupdater.xml --singleInstance`

It could be something windows 7 specific, I'll see if I can test that out in a VM.

[2020-02-01 17:00] BarnOwlet commented on #67
Those are the only logs in the file now:
`18:59:25.409 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving explicit mods
18:59:25.410 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving fractured mods
18:59:25.411 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving crafted mods
18:59:25.412 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Getting lea

[2020-02-02 20:46] BarnOwlet commented on #67
Had no luck finding the issue mate? :(

[2020-02-02 20:58] mtricht commented on #67
There is nothing after `18:59:25.412 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Getting leagues from pathofexile.com`? Does the command prompt window stay open?

[2020-02-02 21:09] BarnOwlet commented on #67
There's nothing. And the command prompt window stays open.

[2020-02-03 14:24] BarnOwlet commented on #67
I finally fixed it by deleting the file with the tool's settings (the ones that remain even if you reinstall the tool). I have no clue why that would interfere with the tool functionality though.

[2020-02-03 14:35] mtricht commented on #67
@BarnOwlet Do you happen to still have the 'corrupted' settings file you deleted?

[2020-02-03 16:39] BarnOwlet commented on #67
Sorry, no >.> I'll make sure to let you know if it happens again though

[2020-02-03 16:57] mtricht commented on #67
Please do!

[2020-02-03 16:57] #67 closed

[2020-02-28 21:59] SoM6666 opened #68 "Item Info not working"
alt-c does not work at all, be it normal magic rare unique weapon.

[2020-02-29 11:48] mtricht commented on #68
@SoM6666 What did you bind alt+c to? In the default config there is no alt+c

[2020-02-29 17:06] SoM6666 commented on #68
just re-downloaded lunaris and it's in the settings, look

On Sat, Feb 29, 2020 at 6:48 AM Michael van Tricht <notifications@github.com>
wrote:

[2020-02-29 19:41] mtricht commented on #68
look where?

[2020-02-29 20:16] SoM6666 commented on #68
attached jpeg of lunaris settings

On Sat, Feb 29, 2020 at 2:41 PM Michael van Tricht <notifications@github.com>
wrote:

[2020-03-03 01:39] SoM6666 commented on #68
![lunseting](https://user-images.githubusercontent.com/61603710/75734272-80f3de80-5cc5-11ea-8890-b79c2e819e22.JPG)

[2020-03-06 15:32] mtricht commented on #68
Ah, currently alt+c only works for maps. The screenshot for weapon DPS hasn't been released yet, it'll be included in a release I'll be doing this weekend to prepare for the upcoming patch.

[2020-03-06 15:32] #68 closed

[2020-03-07 19:23] #54 closed

[2020-03-09 10:14] #30 closed

[2020-03-09 10:14] mtricht commented on #30
Wont do

[2020-03-09 10:16] #25 closed

[2020-03-09 10:22] mtricht commented on #56
@mordechaim Do you have any suggestions on how we could use the update4j default bootstrap to show the update progress, but hide the console window once that's done?

[2020-03-09 12:22] mordechaim commented on #56
I'm not really sure as this is is dependent, but I think [this project](https://github.com/stirante/RuneChanger) successfully does just that. I think it involves subprocesses.

Btw did you notice that the latest release of update4j now shows download progress? To update your existing clients simply list the new version and the startup script itself pointing to the new version in the config. For up

[2020-03-16 19:20] mtricht opened #70 "Divinations cards marked as corrupted"
For example:

[code]

[2020-03-21 15:05] VyersReaver opened #71 "Popup window: Couldn't talk with pathofexile.com"
Hey, yesterday the macro was working fine, now I can't launch it, says it "Couldn't talk with pathofexile.com, perhaps down for maintenance?"

Trade website and the forum for PoE work fine, any ideas on what it may be?

[2020-03-21 15:30] mtricht commented on #71
@VyersReaver While the website and forums are up, everything is incredible slow. I managed to start lunaris on my third try, but it's basically unusable because the trade is also slow...not sure what we can do.

[2020-03-21 15:49] VyersReaver commented on #71
Thanks for the reply! It's on the website side of things then. It's very slow now indeed.

[2020-03-21 20:13] mtricht commented on #71
Seems to be more stable now, closing

[2020-03-21 20:13] #71 closed

[2020-04-11 17:44] eduardo-bueno-ifood opened #72 "Cluster Jewels"
Hi, I'd like to contribute to the project, and start by adding support to parse cluster jewels. Is is possible to have access to push branches to the repository?

Please let me know if you have any contribution guidelines.

[2020-04-12 00:11] mtricht commented on #72
Hi Eduardo, great that you want to contribute. You don't actually need any access to this repository, simply fork it, push to your forked version and then you can create a pull request here.

We don't have any guidelines, feel free to do what you think is best!

[2020-04-19 23:11] superness opened #74 "Item search does not search on item category"
When using Alt+D or Alt+Q the search does not filter on item category.

For example this shield shows armors in the search results when I use Alt+Q. It also lists them in Alt+D but you would not know from the text displayed.

This is the search opened with Alt+Q: https://www.pathofexile.com/trade/search/Delirium/kW8ZWnwh5

Screenshots:
![shieldsearchexample](https://user-images.githubusercontent.c

[2020-05-10 00:58] #72 closed

[2020-05-10 11:46] #62 closed

[2020-05-10 12:18] mtricht commented on #63
These are the duplicate explicits which are fortunately not that many:

[code]

[2020-05-10 12:28] #20 closed

[2020-05-10 12:28] #70 closed

[2020-05-10 12:28] #64 closed

[2020-05-10 12:31] mtricht commented on #74
Will be fixed in the next release, thanks for reporting

[2020-05-10 12:31] #74 closed

[2020-05-10 21:33] superness commented on #74
Confirmed fixed. Thanks!

[2020-06-12 21:32] eduardo-bueno-ifood opened #78 "Add Vulkan support"
It would be lovely to have it before the beginning of Harvest league, but I know it is unfeasible unless it is a very straightforward fix. I have zero JavaFX knowledge, but I can aid in any research or Java either.

[2020-06-12 23:53] pvaass commented on #78
Duuude, nice coincidence. Check what I made yesterday: https://github.com/mtricht/lunaris/pull/77

We'll try to setup a new release tomorrow!

[2020-06-13 09:36] mtricht commented on #78
@eduardo-bueno-ifood Released v0.6.0, see readme: https://github.com/mtricht/lunaris#faq

[2020-06-13 09:36] #78 closed

[2020-06-13 21:36] eduardo-bueno-ifood commented on #78
You guys rock. Thanks so much for that!

[2020-06-15 14:51] Mongrul opened #79 "Unable to start"
After downloading 0.6 I can't get the program to start. When clicking the batch file the updater window pops up for a few seconds and then vanishes. It appears to make a .lock and .port folder after.   Nothing in my system tray or in task manager. When trying to delete the Lunaris folder windows says its being used, so it must be stuck somewhere.  My java is updated, i double checked.

[2020-06-15 15:21] mtricht commented on #79
@Mongrul So you tried redownloading from the zip file and you still can't start?
Can you change the contents of `lunaris.bat` using notepad to:
[code]

What do you see?

Can you also check there's no 'rogue' lunaris running in the background? (Lunaris can only start once)
Check this by opening the task manager and checking if there's any `java.exe` executables open

[2020-06-15 17:40] Mongrul commented on #79
Here you go

12:39:38.575 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving explicit mods
12:39:38.576 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving fractured mods
12:39:38.577 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Saving crafted mods
12:39:38.578 DEBUG dev.tricht.lunaris.com.pathofexile.PathOfExileAPI - Getting leagues from pathofexile.com
Exc

[2020-06-15 18:19] mtricht commented on #79
@Mongrul Can you try again with v0.6.1?

[2020-06-15 18:38] Mongrul commented on #79
Works like a charm! Thank you so much, loving the vulkan fix!

[2020-06-15 18:59] #79 closed

[2020-06-18 17:09] Slayer418 opened #81 "Won't launch"
[https://i.imgur.com/rILpPuW.png](url)

It seems to be related to localization from what I can see. My OS is in French.

[2020-06-18 23:41] mtricht commented on #81
Thanks for reporting, fixed

[2020-06-18 23:41] #81 closed

[2020-06-19 17:13] eduardo-bueno-ifood opened #82 "Incorrect search with mods that are potentially 'local'"
There are some inconsistencies when searching an item with mods that would otherwise be local, if not for the item type. I.e. when searching for a helmet with flat accuracy, it yields no results in trade because the used mod was the local accuracy mod and not the global instead.

[2020-06-19 17:29] mtricht commented on #82
Could you provide an example? (Ctrl + c on the item)

[2020-06-22 20:38] Duskhorizon opened #86 "Couldn't talk with pathofexile.com perhaps down for maintenance?"
Getting this error all the time, website is working for me so is game :
[code]
any idea how i can diagnose this further?

[2020-06-22 20:41] mtricht commented on #86
@Duskhorizon Are you able to open:
http://api.pathofexile.com/leagues

[2020-06-22 20:53] Duskhorizon commented on #86
Yes , both links are working fine

[2020-06-22 20:56] mtricht commented on #86
@Duskhorizon All right, open `lunaris.bat` with notepad and replace the contents with:

[code]

Save, run and can you then post the output?

[2020-06-22 21:07] Duskhorizon commented on #86
It did run, output here :

https://pastebin.com/PND55WVE

but when i trying to do a price check i'm getting :

![obraz](https://user-images.githubusercontent.com/38585402/85335333-246b3800-b4dd-11ea-8caf-05369d90a23c.png)

[2020-06-23 17:10] TheJamma opened #87 "Vulkan fix not working when Lunaris is opened before PoE"
Everytime I open path of exile with lunaris already open i have to go to lunaris settings and untick the box and then tick it again for the fix to work.

[2020-06-25 13:34] eduardo-bueno-ifood commented on #87
Try un-maximizing and then maximizing the game window. You can do it with the Alt + Space shortcut.

[2020-06-25 13:37] eduardo-bueno-ifood commented on #78
Just a heads up that with nVidia 451.48 driver and GPU scheduling on, this workaround is no longer necessary. it works just fine.

[2020-08-31 20:27] mtricht commented on #87
Vulkan fix seems to be no longer needed

[2020-08-31 20:27] #87 closed

[2020-08-31 20:28] #86 closed

[2020-08-31 20:29] #56 closed

[2020-08-31 20:30] #46 closed

[2020-09-25 11:12] BarnOwlet opened #88 "ctrl + scroll for stash not working"
As the title suggests. Everything else is working as intended

Not sure what the problem is, I'm sure there's an easy fix but I can't find it..

[2020-09-26 15:36] mtricht commented on #88
@BarnOwlet Is the setting enabled?
![image](https://user-images.githubusercontent.com/7511094/94344330-cdff1f80-001e-11eb-9601-03ff2f5c3cc5.png)

[2020-09-27 23:41] BarnOwlet commented on #88
Right, now I have a different problem... For some reason, my PC just refused this entire day to let me open lunaris at all. Every time I launch it (as administrator aswell), it just gives me this:
![image](https://user-images.githubusercontent.com/60470422/94378582-8792e900-0122-11eb-844d-6a24c10ab02b.png)

I have no idea what's causing this either, lol.
As for the ctrl+scroll thing... I don't act

[2020-09-28 21:44] mtricht commented on #88
@BarnOwlet That's rather weird, did you try redownloading it? Direct link: https://github.com/mtricht/lunaris/releases/download/v0.6.3/lunaris-0.6.3-win64.zip

[2020-09-28 22:06] BarnOwlet commented on #88
Yeah, I did. Multiple times over. Even deleted the settings file, which is placed rather differently from the main files of Lunaris.

[2020-09-28 22:35] pvaass commented on #88
I've tried copying your file path in case that was the problem, but everything seems to work fine:
![image](https://user-images.githubusercontent.com/7511120/94492885-96919e00-01eb-11eb-8356-be7baeba6004.png)

I know this sounds stupid, but can you try following the steps @ https://support.microsoft.com/en-us/help/2669244/windows-cannot-access-the-specified-device-path-or-file-error-when-you

[2020-09-28 23:31] BarnOwlet commented on #88
I have no idea what's going on anymore... lol

I tried opening it now, and it just worked. It just did, lol. It didn't work after a restart when I was trying to fix it a few days ago, so it couldn't have been that the PC just needed a restart.

It wasn't stupid at all for you to suggest the steps in that link @pvaass , but I stumbled upon that link when I was looking for a fix myself and did every

[2020-09-29 15:51] #88 closed

[2020-10-30 12:14] KronosTheChad opened #89 "Make shortcut for searching items available for private leagues."
I know the api apparently isn't available but it would be amazing if the shortcut to open the item in pathofexile.com/trade for private leagues would work, any other pricing services seem hard without api access but i'd imagine this to be possible.

[2021-02-04 14:26] DarkStas opened #92 "Don't work"
If you start POE as admin lunaris stop working.

[2021-02-07 21:14] DarkStas opened #93 "lunaris ddos trade sites"
Please make some ddos protection for poe trade sites cos some of commands don't have delay between sending commands, like using "Search on /trade" hot key and it spam them.
And the question is why does it even send somewhere, some commands when I just try to open a link to the trade site (hot key  "Search on /trade").

[2021-03-12 16:15] devon-mp opened #94 "F4 doesn't work"
I can't seem to kick myself from a party using the hotkey.

[2021-04-17 14:46] #92 closed

[2021-04-17 14:46] mtricht commented on #93
Use the POESESSID in settings.

When opening the item, we have to request the search as we get an ID back for that specific search.

[2021-04-17 14:46] #93 closed

[2021-04-17 14:47] mtricht commented on #92
What do you need admin for?

[2021-04-17 14:48] mtricht commented on #94
For this to work you have to fill in your character name in the settings. All we do is type `/kick <character name>`

[2021-04-17 14:48] #94 closed

[2022-05-09 19:52] Haytar opened #95 "Couldn't talk with pathofexile.com, perhaps down"
I am running the .jar in Linux (popOS 21 to be specific) but keep getting this msg "couldn't talk with pathofexile.com, perhaps down for maintenance"
I don't know if this is a current project but if it is I'd love some help with getting this to work.  Thank you

[2022-09-11 23:11] zhuk90 opened #97 "Lunaris is not working"
![lunaris](https://user-images.githubusercontent.com/22587825/189552895-5e9cd906-e7f6-448d-b3bd-731e4c00420d.jpg)

[2022-10-04 23:19] LegionofAces commented on #97
I am getting the same issue also, i can connect to both websites and have tried "image\bin\java.exe -jar app\lunaris.jar" as a launch argument.

![Screenshot 2022-10-05 101907](https://user-images.githubusercontent.com/83169074/193947967-fcd0138f-2f80-4b13-806a-ca51ddeccb1f.png)